In [19]:
import sqlite3
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
import pyodbc
from ydata_profiling import ProfileReport

conn = sqlite3.connect("./data/ntsb.db")
mdb_path = "./data/avall.mdb"
mdb_conn = pyodbc.connect(r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=./data/avall.mdb')

In [ ]:
query = """
SELECT * FROM events;
"""

df = pd.read_sql(query, mdb_conn)

profile = ProfileReport(df, title="NTSB Accident Data 2008-2025 — EVENTS Profiling Report", minimal=True)
profile.to_file("./profiling/ntsb_2008_2025_table_events.html")

100%|██████████| 73/73 [00:00<00:00, 143.10it/s]<00:00, 86.55it/s, Describe variable: dec_longitude]
Summarize dataset: 100%|██████████| 79/79 [00:01<00:00, 44.78it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:14<00:00, 14.14s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.73it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 66.66it/s]

In [20]:
query = """
SELECT * FROM aircraft;
"""

df = pd.read_sql(query, mdb_conn)

profile = ProfileReport(df, title="NTSB Accident Data 2008-2025 — AIRCRAFT Profiling Report", minimal=True)
profile.to_file("./profiling/ntsb_2008_2025_table_aircraft.html")

C:\Users\tniet\AppData\Local\Temp\ipykernel_27768\3775540028.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mdb_conn)
100%|██████████| 93/93 [00:01<00:00, 47.50it/s]3<00:00, 50.48it/s, Describe variable: elt_reason_other]
Summarize dataset: 100%|██████████| 99/99 [00:03<00:00, 32.46it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:21<00:00, 21.93s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.18it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 35.71it/s]

In [21]:
query = """
SELECT * FROM events_sequence;
"""

df = pd.read_sql(query, mdb_conn)

profile = ProfileReport(df, title="NTSB Accident Data 2008-2025 — EVENTS SEQUENCE Profiling Report", minimal=True)
profile.to_file("./profiling/ntsb_2008_2025_table_events_sequence.html")

C:\Users\tniet\AppData\Local\Temp\ipykernel_27768\3244680899.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mdb_conn)
100%|██████████| 10/10 [00:00<00:00, 50.08it/s]<00:00,  8.90it/s, Describe variable: lchg_userid]
Summarize dataset: 100%|██████████| 16/16 [00:00<00:00, 26.94it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.19s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 11.90it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 153.54it/s]

In [7]:
conn = sqlite3.connect('./data/ntsb.db')
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table' and lower(name) in('events','aircraft','events_sequence') or 1=1;")
tablas = cursor.fetchall()

print("tabla,campos,registros")
for tabla in tablas:
    tabla_nombre = tabla[0]
    
    # columnas
    cursor.execute(f"PRAGMA table_info({tabla_nombre})")
    columnas = len(cursor.fetchall())

    # registros
    cursor.execute(f"SELECT COUNT(*) FROM {tabla_nombre}")
    registros = cursor.fetchone()[0]

    
    print(tabla_nombre+","+str(columnas)+","+str(registros))

conn.close()

tabla,campos,registros
aircraft,93,30272
Country,2,262
ct_iaids,11,955
ct_seqevt,2,2224
dt_aircraft,6,256937
dt_events,5,110354
dt_Flight_Crew,7,170923
eADMSPUB_DataDictionary,13,4574
engines,17,27298
events,73,29773
Events_Sequence,10,63852
Findings,14,69838
Flight_Crew,33,31003
flight_time,8,388170
injury,7,169337
narratives,8,27485
NTSB_Admin,5,29773
Occurrences,8,0
seq_of_events,11,0
states,3,51